@import "../mixins";

.top-selling {
  padding-top: rem(150);
  position: relative;
  z-index: 0;
  &__main {
    display: flex;
    flex-wrap: wrap;
    margin: rem(10) -15px 0;
    .card {
      margin: 30px 15px 0;
    }
  }
}