<section class="create-nft">
    <div class="container">
            <div class="steps">
                <a href="/">Home</a>
                <span> Create Mint</span>
            </div>
            <div class="heading heading--line">
                <div class="title-h4"><h4>Create your Master piece</h4></div>
            </div>
            <div class="create-nft__upload">
                <div class="create-nft__upload-wrapper">
                    <input id="file-input" type="file"/>
                    <div class="style-gradient-text"><span>Drop your files here. PNG, GIF, WEBP, Max 100mb. Browse</span></div>
                </div>
            </div>
            <div class="create-nft__information">
                <div class="heading heading--line">
                    <div class="title-h4"><h4>Item Information</h4></div>
                </div>
                <div class="create-nft__inputs hide">
                    <div class="create-nft__line">
                        <div class="input input--square">
                            <span>Item Name*</span>
                            <input id="createName" type="text" id="editName">
                        </div>
                        <div class="input input--square">
                            <span>Price</span>
                            <input id="createPrice" type="text">
                        </div>
                    </div>
                    <div class="input input--square">
                        <span>Description</span>
                        <textarea type="text" id="createDescription" placeholder="Say something about your nft"></textarea>
                    </div>
                </div>
                <button id="createBtn" class="btn btn--gradient-bg color--grey"><span>Create Item</span></button>
                <div class="thanks btn--gradient-text"><p>NFT world now knows you well Thanks for detailing</p></div>
            </div>
        </div>
</section>