<section class="edit hide">
    <div class="edit__bg">
        <img src="img/cat.png" alt="">
    </div>
    <div class="container">
        <div class="edit__heading">
            <div class="edit__stats">
                <div class="edit__stats-buttons">
                    <button><img src="img/change-bg.svg" alt=""></button>
                </div>
            </div>
            <div class="edit__info">
                <div class="edit__info-avatar"><img src="img/avatar2.png" alt=""></div>
                <button class="btn btn--medium"><span>Upload Profile Photo</span></button>
            </div>
        </div>
        <div class="edit__main">
            <div class="title-h4"><h4>Information</h4></div>
            <div class="edit__content hide">
                <div class="edit__content-line">
                    <div class="input input--square">
                        <span>Full Name*</span>
                        <input type="text" id="editName">
                    </div>
                    <div class="input input--square">
                        <span>User name*</span>
                        <input id="editId" type="text">
                    </div>
                </div>
                <div class="edit__content-line">
                    <div class="input input--square input--square-logo">
                        <span>Instagram</span>
                        <div class="input__wrapper">
                            <input type="text">
                            <div class="input__wrapper-img">
                                <img src="img/instagram.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="input input--square input--square-logo">
                        <span>X</span>
                        <div class="input__wrapper">
                            <input type="text">
                            <div class="input__wrapper-img">
                                <img src="img/x-icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input input--square">
                    <span>Bio</span>
                    <textarea type="text" id="editBio"></textarea>
                </div>
            </div>
            <button class="btn btn--gradient-bg color--grey"><span>Update Profile</span></button>
            <div class="thanks btn--gradient-text"><p>NFT world now knows you well Thanks for detailing</p></div>
        </div>
    </div>
</section>