<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__email">
        <a href="/" class="logo">
          <img src="img/logo.svg" alt="">
        </a>
        <div class="title-h5"><h5>Be Updated</h5></div>
        <label class="input">
          <input type="text" placeholder="Enter Your Email">
        </label>
        <button class="btn btn--medium btn--gradient-border btn--gradient-text">
          <span>Send</span>
        </button>
      </div>
      <div class="footer__main">
        <div class="footer__community">
          <div class="style-paragraph--two color--grey-light"><p>To be updated join our mailing service world's largest digital marketplace collectibles and non-fungible tokens (NFTs).</p></div>
          <div class="title-h5"><h5>Join our community</h5></div>
          <div class="footer__media">
            <a href="/" class="footer__media-link">
              <img src="img/facebook.svg" alt="">
            </a>
            <a href="/" class="footer__media-link">
              <img src="img/google.svg" alt="">
            </a>
            <a href="/" class="footer__media-link">
              <img src="img/twitter.svg" alt="">
            </a>
          </div>
        </div>
          <div class="nav">
            <ul>
              <li class="title-h5"><h5>Categories</h5></li>
              <li><a href="/">Arts</a></li>
              <li><a href="/">Music</a></li>
              <li><a href="/">Sports/Games</a></li>
              <li><a href="/">Entertainment</a></li>
              <li><a href="/">Visual World</a></li>
            </ul>
            <ul>
              <li class="title-h5"><h5>Marketplace</h5></li>
              <li><a href="/">Create</a></li>
              <li><a href="/">Explore</a></li>
              <li><a href="/">Creators</a></li>
              <li><a href="/">Collectors</a></li>
            </ul>
            <ul>
              <li class="title-h5"><h5>More</h5></li>
              <li><a href="/">Blog</a></li>
              <li><a href="/">Careers</a></li>
              <li><a href="/">Help Center</a></li>
              <li><a href="/">F.A.Q.</a></li>
            </ul>
            <ul>
              <li class="title-h5"><h5>Company</h5></li>
              <li><a href="/">About us</a></li>
              <li><a href="/">Privacy Policy</a></li>
              <li><a href="">Terms & Conditions</a></li>
              <li><a href="">Community Guidlines</a></li>
            </ul>
          </div>
      </div>
      <div class="footer__under">
          <div class="style-paragraph--two"><p>© 2021 Madbrains . All rights reserved</p></div>
      </div>
    </div>
  </div>
</footer>

<div style="display: none;">

</div>

<script>
  const TEMPLATE_PATH = ''
  let validationErrors = {
      "required": "This field is required",
      "invalid": "This field is invalid",
      "allowed_ext": "Allowed extensions: &1",
      "max_size": "Maximum file size is &1",
      "max_files": "Maximum files you can upload is &1",
      "minlength": "Minimum number of characters is &1",

      "firstname": {
          "required": "First Name is required."
      },
      "lastname": {
          "required": "Last Name is required."
      },
      "name": {
          "regex": "Only letters and white space allowed"
      },
      "email": {
          "regex": "The E-mail must be a valid email address.",
          "required": "E-mail is required."
      },
      "zipcode": {
          "required": "Postcode is required."
      },
      "language": {
          "required": "Language is required."
      },
      "city": {
          "required": "City is required."
      },
      "phone": {
          "required": "Phone is required."
      },
      "password": {
          "minlength": "Minimum number of characters is &1",
          "regex": "The password must contain numbers and Latin letters",
      },
      "password_repeat": {
          "password_repeat": "Passwords don't match"
      },
  }
</script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script src="https://blackbook.dev/plugin/?dropdown&accordion&validate" type="text/javascript"></script>
<script src="js/main.js"></script>


