<header class="header">
    <div class="container">
        <div class="header__container">
            <a href="/" class="logo">
                <img src="img/logo.svg" alt="">
            </a>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="/">Explore</a>
                    </li>
                    <li>
                        <a href="/">Create</a>
                    </li>
                    <li>
                        <a href="/">Feed</a>
                    </li>
                </ul>
            </nav>
            <label id="headerInput" class="input input--logo">
                <img src="img/search.svg" alt="">
                <input type="text" placeholder="Search">
            </label>
            <a href="/register.html" id="btnLogin" class="btn btn--medium btn--grey-border btn--gradient-text">
                <span>Log in</span>
            </a>
            <div id="headerAvatar" class="avatar style-gradient-border">
            </div>
        </div>
    </div>
</header>

<div class="menu mobile-show">
  <div class="menu__inner">

  </div>
</div>





