<section class="nft-steps">
    <div class="container">
        <div class="nft-steps__content">
            <div class="style-paragraph--one"><span>NFT nft-steps</span></div>
            <div class="title-h2"><h2>Easy nft-steps to create and sell your NFT</h2></div>
            <div class="nft-steps__group">
                <div class="nft-steps__block">
                    <div class="nft-steps__block-name">
                        <div class="nft-steps__block-icon"><img src="img/steps-img1.png" alt=""></div>
                        <div class="title-h5"><h5>Setup Your Wallet</h5></div>
                    </div>
                    <div class="title-h6 color--grey-light"><h6>Once you’ve set up your wallet of choice,
                        connect it to OpenSea by clicking the wallet
                        icon in the top right corner. </h6></div>
                </div>
                <div class="nft-steps__block">
                    <div class="nft-steps__block-name">
                        <div class="nft-steps__block-icon"><img src="img/steps-img2.png" alt=""></div>
                        <div class="title-h5"><h5>Setup Your Wallet</h5></div>
                    </div>
                    <div class="title-h6 color--grey-light"><h6>Once you’ve set up your wallet of choice,
                        connect it to OpenSea by clicking the wallet
                        icon in the top right corner. </h6></div>
                </div>
                <div class="nft-steps__block">
                    <div class="nft-steps__block-name">
                        <div class="nft-steps__block-icon"><img src="img/steps-img3.png" alt=""></div>
                        <div class="title-h5"><h5>Setup Your Wallet</h5></div>
                    </div>
                    <div class="title-h6 color--grey-light"><h6>Once you’ve set up your wallet of choice,
                        connect it to OpenSea by clicking the wallet
                        icon in the top right corner. </h6></div>
                </div>
                <div class="nft-steps__block">
                    <div class="nft-steps__block-name">
                        <div class="nft-steps__block-icon"><img src="img/steps-img3.png" alt=""></div>
                        <div class="title-h5"><h5>Setup Your Wallet</h5></div>
                    </div>
                    <div class="title-h6 color--grey-light"><h6>Once you’ve set up your wallet of choice,
                        connect it to OpenSea by clicking the wallet
                        icon in the top right corner. </h6></div>
                </div>
            </div>
        </div>
    </div>
</section>