<section class="nft">
    <div class="container">
        <div class="steps">
            <a href="/">Home</a>
            <span> Item Details</span>
        </div>
        <div class="nft__main">
            <div class="nft__img"><img src="img/avatar1.png" alt=""></div>
            <div class="nft__info">
                <div class="nft__name">
                    <div class="title-h4"><h4>The Lighting of Love</h4></div>
                    <div class="nft__settings">
                        <img src="img/setting-dots.svg" alt="">
                        <div class="nft__settings-menu">
                            <button><span>Save NFT</span></button>
                        </div>
                    </div>
                </div>
                <div class="nft__description color--grey-light style-buttons--big"><p>It is a long extablished fact that a reader will be disctracted by the readable content of a page when lookin at its layout.
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p></div>
                <div class="nft__owners">
                    <div class="owner">
                        <div class="owner__img"><img src="img/avatar1.png" alt=""></div>
                        <div class="owner__name">
                            <span>Owner</span>
                            <p>Zain Lipshutz</p>
                        </div>
                    </div>
                    <div class="owner">
                        <div class="owner__img"><img src="img/avatar1.png" alt=""></div>
                        <div class="owner__name">
                            <span>Creater</span>
                            <p>Emerson Rosser</p>
                        </div>
                    </div>
                </div>
                <div class="nft__price">
                    <span>Price</span>
                    <div class="nft__price-line">
                        <div class="title-h5"><h5>5.5 WRX</h5></div>
                        <span>(7.05 USD)</span>
                    </div>
                </div>
                <div class="nft__buttons">
                    <button class="btn btn--gradient-border btn--gradient-text"><span>Make Offer</span></button>
                    <button class="btn btn--gradient-bg btn--shadow-text"><span>Buy Now</span></button>
                </div>
                <div class="nft__tabs">
                    <div data-tab="1" class="nft__tabs-elem active"><span>Owners</span></div>
                    <div data-tab="2" class="nft__tabs-elem"><span>History</span></div>
                    <div class="underline"></div>
                </div>
                <div class="nft__pages">
                    <div data-tab="1" class="nft__pages-elem active">
                        <div class="owner">
                        <div class="owner__img"><img src="img/avatar1.png" alt=""></div>
                        <div class="owner__name">
                            <span>Owner</span>
                            <p>Zain Lipshutz</p>
                        </div>
                    </div>
                    </div>
                    <div data-tab="2" class="nft__pages-elem">
                        <div class="owner">
                        <div class="owner__img"><img src="img/avatar1.png" alt=""></div>
                        <div class="owner__name">
                            <span>Owner</span>
                            <p>Name Name</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>