<section class="nftify">
    <div class="container">
        <div class="nftify__content">
            <div class="nftify__text">
                <div class="title-h2"><h2>Create your NFT's & sell your NFT at one place</h2></div>
                <div class="style-paragraph--one"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p></div>
                <a href="/">
                    <span>Explore now</span>
                    <div class="nftify__text-arrow"><img src="img/arrow.svg" alt=""></div>
                </a>
            </div>
            <div class="nftify__images">
                <div class="nftify__images-first nftify__img">
                    <img src="img/avatar1.png" alt="">
                </div>
                <div class="nftify__images-second nftify__img">
                    <img src="img/avatar1.png" alt="">
                </div>
                <div class="nftify__images-third nftify__img">
                    <img src="img/avatar1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>