<section class="profile">
    <div class="profile__bg">
        <img src="img/cat.png" alt="">
    </div>
    <div class="container">
        <div class="profile__heading">
            <div class="profile__stats">
                <span>Followings 07</span>
                <span>Followers 5.6K</span>
                <div class="profile__stats-buttons">
                    <button id="btnPopupOpen"><span>Edit Profile</span></button>
                    <button><img src="img/share-arrow.svg" alt=""></button>
                </div>
            </div>
            <div class="profile__info">
                <div class="profile__info-avatar"><img src="img/avatar2.png" alt=""></div>
                <div class="profile__info-name">
                    <div class="title-h5"><h5>Gustavo Bator</h5></div>
                    <div class="btn--gradient-text"><a href="/">@themadbrains</a></div>
                </div>
                <div class="style-paragraph--one"><p>Blockhain Enthusiast Who Loves Art, Blues Music, Tech & Finance</p></div>
                <div class="profile__info-links">
                    <a href="/"><img src="img/facebook.svg" alt=""></a>
                    <a href="/"><img src="img/twitter.svg" alt=""></a>
                </div>
            </div>
            <div class="profile__tabs">
                <div data-tab="1" class="profile__tabs-block active"><span>Collection 20</span></div>
                <div data-tab="2"  class="profile__tabs-block"><span>Creation 16</span></div>
                <div data-tab="3"  class="profile__tabs-block"><span>Offers received 13</span></div>
                <div data-tab="4"  class="profile__tabs-block"><span>Offers made 05</span></div>
                <div class="underline"></div>
            </div>
        </div>
        <div class="profile__content">
            <div class="profile__filters">
                <div id="btnFilter" class="btn btn--grey-border btn--filter">
                    <div class="btn__content color--grey-light">
                        <div class="btn__animation">
                            <div class="btn__animation-line"></div>
                            <div class="btn__animation-line"></div>
                        </div>
                        <span>Filter</span>
                    </div>
                </div>
                <button class="btn color--grey-light btn--grey-border"><span>Sort by</span></button>
            </div>
            <div class="profile__works">
                <div data-tab="1" class="profile__page active">
                    <div class="card card--borderless wow ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-tab="2" class="profile__page">
                    <div class="card card--borderless wow ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-tab="3" class="profile__page">
                    <div class="card card--borderless wow ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card--borderless ">
                        <div class="card__img"><img src="img/cat.png" alt=""></div>
                        <a href="/" class="card__name">
                            <div class="title-h5"><h5>The Lighting of Love</h5></div>
                            <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        </a>
                        <div class="card__price">
                            <div class="style-paragraph--two color--grey-light"><span>Price</span></div>
                            <div class="card__price-block style-buttons--small">
                                <span>5.55 WRX</span>
                                <span>(7.05 USD)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup">
        <div class="popup__content">
            <div id="btnPopupClose" class="popup__close">
                <img src="img/cross.svg" alt="">
            </div>
            <div class="popup__wrapper">
                <div class="popup__group">
                    <label class="popup__block">
                        <span>Name</span>
                        <input id="editName" class="input" placeholder="Name">
                    </label>
                    <label  class="popup__block">
                        <span>Email</span>
                        <input id="editEmail" class="input" placeholder="Email">
                    </label>
                    <label  class="popup__block">
                        <span>popupgraphy</span>
                        <textarea id="editpopup" class="input" placeholder="biography"></textarea>
                    </label>
                    <button id="resetpopup" class="btn btn--gradient-border"><span>Save info</span></button>
                </div>
                <div class="popup__group">
                    <label  class="popup__block">
                        <span>Old Password</span>
                        <input type="password" id="editOldPassword" class="input">
                    </label>
                    <label class="popup__block">
                        <span>Password</span>
                        <input type="password" id="editPassword" class="input" >
                    </label>
                    <label  class="popup__block">
                        <span>Confirm Password</span>
                        <input type="password" id="editPasswordConfirm" class="input">
                    </label>
                    <button id="resetPasswordBtn" class="btn btn--gradient-border"><span>Save password</span></button>
                </div>
            </div>
        </div>
    </div>
</section>