<section class="start">
    <div class="container">
        <div class="start__content">
            <div class="start__text">
                <div class="title-h1"><h1>Explore the NFT world, collect and sell your artwork</h1></div>
                <div class="title-h5"><h5>Trade with Simpler and Smarter NFT World</h5></div>
                <div class="start__button">
                <a href="http://localhost:3000/register.html" class="btn btn--gradient-bg btn--shadow-text style-buttons--big"><span>EXPLORE MORE</span></a>
                <a href="http://localhost:3000/register.html" class="btn btn--gradient-border btn--gradient-text style-buttons--big btn--hover"><span>Create</span></a>
            </div>
            </div>
            <div class="start__img">
                <img src="img/nft-11.png" alt="">
            </div>
        </div>
    </div>
</section>