<section class="top-selling">
    <div class="container">
        <div class="heading">
                <div class="style-paragraph--one"><span>Artists highlighted with their best this week</span></div>
                <div class="heading__line">
                    <div class="title-h2"><h2>Top selling NFT's</h2></div>
                   <div class="heading__swiper">

                   </div>
                </div>
            </div>
        <div class="top-selling__main">
            <div class="card card--bg-img">
                <div class="card__img"><img src="img/avatar1.png" alt=""></div>
                <div class="card__content">
                    <div class="card__price">
                        <span>0.4000 ETH</span>
                        <button class="btn btn--small btn--gradient-bg"><span>Buy Now</span></button>
                    </div>
                    <div class="title-h5"><a href="/">The Lighting of Love</a></div>
                </div>
            </div>
        </div>
    </div>
</section>