<section class="trending-creators">
    <div class="container">
        <div class="heading">
            <div class="style-paragraph--one"><span>Artists Highlighted with their best Today</p></div>
            <div class="heading__line">
                <div class="title-h2"><h2>Creators in Tranding</h2></div>
                <a class="btn btn--gradient-bg btn--shadow-text style-buttons--big"><span>Explore More</span></a>
            </div>
        </div>
        <div class="trending-creators__content">
            <div class="card card--wide">
                <div class="card__head">
                    <a href="/" class="card__img">
                        <img src="img/avatar2.png" alt="">
                    </a>
                    <div class="card__info">
                        <a href="/">Alfredo Franci</a>
                        <div class="card__followers">
                            <div class="style-paragraph--two color--grey-light"><span>2 Following</span></div>
                            <button class="btn btn--small btn--gradient-border btn--gradient-text"><span>Follow</span></button>
                        </div>
                    </div>
                </div>
                <div class="card__stats">
                    <div class="btn--gradient-text"><a href="/">@themadbrains</a></div>
                    <div class="style-paragraph--two color--grey-light"><span>6 Created</span></div>
                    <div class="style-paragraph--two color--grey-light"><span>3 Collections</span></div>
                </div>
            </div>
            <div class="card card--wide">
                <div class="card__head">
                    <a href="/" class="card__img">
                        <img src="img/avatar2.png" alt="">
                    </a>
                    <div class="card__info">
                        <a href="/">Alfredo Franci</a>
                        <div class="card__followers">
                            <div class="style-paragraph--two color--grey-light"><span>2 Following</span></div>
                            <button class="btn btn--small btn--gradient-border btn--gradient-text"><span>Follow</span></button>
                        </div>
                    </div>
                </div>
                <div class="card__stats">
                    <div class="btn--gradient-text"><a href="/">@themadbrains</a></div>
                    <div class="style-paragraph--two color--grey-light"><span>6 Created</span></div>
                    <div class="style-paragraph--two color--grey-light"><span>3 Collections</span></div>
                </div>
            </div>
            <div class="card card--wide">
                <div class="card__head">
                    <a href="/" class="card__img">
                        <img src="img/avatar2.png" alt="">
                    </a>
                    <div class="card__info">
                        <a href="/">Alfredo Franci</a>
                        <div class="card__followers">
                            <div class="style-paragraph--two color--grey-light"><span>2 Following</span></div>
                            <button class="btn btn--small btn--gradient-border btn--gradient-text"><span>Follow</span></button>
                        </div>
                    </div>
                </div>
                <div class="card__stats">
                    <div class="btn--gradient-text"><a href="/">@themadbrains</a></div>
                    <div class="style-paragraph--two color--grey-light"><span>6 Created</span></div>
                    <div class="style-paragraph--two color--grey-light"><span>3 Collections</span></div>
                </div>
            </div>
            <div class="card card--wide">
                <div class="card__head">
                    <a href="/" class="card__img">
                        <img src="img/avatar2.png" alt="">
                    </a>
                    <div class="card__info">
                        <a href="/">Alfredo Franci</a>
                        <div class="card__followers">
                            <div class="style-paragraph--two color--grey-light"><span>2 Following</span></div>
                            <button class="btn btn--small btn--gradient-border btn--gradient-text"><span>Follow</span></button>
                        </div>
                    </div>
                </div>
                <div class="card__stats">
                    <div class="btn--gradient-text"><a href="/">@themadbrains</a></div>
                    <div class="style-paragraph--two color--grey-light"><span>6 Created</span></div>
                    <div class="style-paragraph--two color--grey-light"><span>3 Collections</span></div>
                </div>
            </div>
            <div class="card card--wide">
                <div class="card__head">
                    <a href="/" class="card__img">
                        <img src="img/avatar2.png" alt="">
                    </a>
                    <div class="card__info">
                        <a href="/">Alfredo Franci</a>
                        <div class="card__followers">
                            <div class="style-paragraph--two color--grey-light"><span>2 Following</span></div>
                            <button class="btn btn--small btn--gradient-border btn--gradient-text"><span>Follow</span></button>
                        </div>
                    </div>
                </div>
                <div class="card__stats">
                    <div class="btn--gradient-text"><a href="/">@themadbrains</a></div>
                    <div class="style-paragraph--two color--grey-light"><span>6 Created</span></div>
                    <div class="style-paragraph--two color--grey-light"><span>3 Collections</span></div>
                </div>
            </div>
            <div class="card card--wide">
                <div class="card__head">
                    <a href="/" class="card__img">
                        <img src="img/avatar2.png" alt="">
                    </a>
                    <div class="card__info">
                        <a href="/">Alfredo Franci</a>
                        <div class="card__followers">
                            <div class="style-paragraph--two color--grey-light"><span>2 Following</span></div>
                            <button class="btn btn--small btn--gradient-border btn--gradient-text"><span>Follow</span></button>
                        </div>
                    </div>
                </div>
                <div class="card__stats">
                    <div class="btn--gradient-text"><a href="/">@themadbrains</a></div>
                    <div class="style-paragraph--two color--grey-light"><span>6 Created</span></div>
                    <div class="style-paragraph--two color--grey-light"><span>3 Collections</span></div>
                </div>
            </div>
            <div class="card card--wide">
                <div class="card__head">
                    <a href="/" class="card__img">
                        <img src="img/avatar2.png" alt="">
                    </a>
                    <div class="card__info">
                        <a href="/">Alfredo Franci</a>
                        <div class="card__followers">
                            <div class="style-paragraph--two color--grey-light"><span>2 Following</span></div>
                            <button class="btn btn--small btn--gradient-border btn--gradient-text"><span>Follow</span></button>
                        </div>
                    </div>
                </div>
                <div class="card__stats">
                    <div class="btn--gradient-text"><a href="/">@themadbrains</a></div>
                    <div class="style-paragraph--two color--grey-light"><span>6 Created</span></div>
                    <div class="style-paragraph--two color--grey-light"><span>3 Collections</span></div>
                </div>
            </div>
        </div>
    </div>
</section>