<section class="trending-auction">
    <div class="container">
        <div class="heading">
            <div class="style-paragraph--one"><span>Most valued Fine Arts on sale today</span></div>
            <div class="heading__line">
                <div class="title-h2"><h2>Tranding Live Auction</h2></div>
                <a class="btn btn--gradient-bg btn--shadow-text style-buttons--big"><span>Explore More</span></a>
            </div>
        </div>
        <div class="trending-auction__main">
            <div class="card card--default card--default__timer style-gradient-border">
                <div class="card__img">
                    <img src="img/avatar1.png" alt="">
                    <div class="card__user">
                        <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        <span>Lincoln Bergson</span>
                    </div>
                </div>
                <div class="card__name">
                    <div class="title-h5"><h5>The Lighting of Love</h5></div>
                </div>
                <div class="card__price">
                    <span>0.4000 ETH</span>
                    <a href="/" class="btn btn--small btn--gradient-border style-buttons--big btn--gradient-text"><span>Place a bid</span></a>
                </div>
                <div class="card__timer style-gradient-border">
                    <img src="img/timer.png" alt="">
                    <span>1d :04h :25min :10</span>
                </div>
            </div>
            <div class="card card--default card--default__timer style-gradient-border">
                <div class="card__img">
                    <img src="img/avatar1.png" alt="">
                    <div class="card__user">
                        <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        <span>Lincoln Bergson</span>
                    </div>
                </div>
                <div class="card__name">
                    <div class="title-h5"><h5>The Lighting of Love</h5></div>
                </div>
                <div class="card__price">
                    <span>0.4000 ETH</span>
                    <a href="/" class="btn btn--small btn--gradient-border style-buttons--big btn--gradient-text"><span>Place a bid</span></a>
                </div>
                <div class="card__timer style-gradient-border">
                    <img src="img/timer.png" alt="">
                    <span>1d :04h :25min :10</span>
                </div>
            </div>
            <div class="card card--default card--default__timer style-gradient-border">
                <div class="card__img">
                    <img src="img/avatar1.png" alt="">
                    <div class="card__user">
                        <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        <span>Lincoln Bergson</span>
                    </div>
                </div>
                <div class="card__name">
                    <div class="title-h5"><h5>The Lighting of Love</h5></div>
                </div>
                <div class="card__price">
                    <span>0.4000 ETH</span>
                    <a href="/" class="btn btn--small btn--gradient-border style-buttons--big btn--gradient-text"><span>Place a bid</span></a>
                </div>
                <div class="card__timer style-gradient-border">
                    <img src="img/timer.png" alt="">
                    <span>1d :04h :25min :10</span>
                </div>
            </div>
            <div class="card card--default card--default__timer style-gradient-border">
                <div class="card__img">
                    <img src="img/avatar1.png" alt="">
                    <div class="card__user">
                        <div class="avatar style-gradient-border"><img src="img/avatar2.png" alt=""></div>
                        <span>Lincoln Bergson</span>
                    </div>
                </div>
                <div class="card__name">
                    <div class="title-h5"><h5>The Lighting of Love</h5></div>
                </div>
                <div class="card__price">
                    <span>0.4000 ETH</span>
                    <a href="/" class="btn btn--small btn--gradient-border style-buttons--big btn--gradient-text"><span>Place a bid</span></a>
                </div>
                <div class="card__timer style-gradient-border">
                    <img src="img/timer.png" alt="">
                    <span>1d :04h :25min :10</span>
                </div>
            </div>
        </div>
    </div>
</section>