<section class="wallets fadeIn" data-wow-duration="20s">
    <div class="container">
        <div class="wallets__content">
            <div class="style-paragraph--one color--grey-light"><p>Trade with worlds Trusted and Popular Wallets.</p></div>
            <div class="title-h2"><h2>Wallets we support</h2></div>
            <div class="wallets__group">
                <a href="/" class="wallets__block">
                    <div class="wallets__img">
                        <img src="img/metamask.svg" alt="">
                    </div>
                    <button class="btn btn--borderless style-buttons--small"><span>Metamask</span></button>
                </a>
                <a href="/" class="wallets__block">
                    <div class="wallets__img">
                        <img src="img/coinbase.svg" alt="">
                    </div>
                    <button class="btn btn--borderless style-buttons--small"><span>Metamask</span></button>
                </a>
                <a href="/" class="wallets__block">
                    <div class="wallets__img">
                        <img src="img/trust.svg" alt="">
                    </div>
                    <button class="btn btn--borderless style-buttons--small"><span>Metamask</span></button>
                </a>
                <a href="/" class="wallets__block">
                    <div class="wallets__img">
                        <img src="img/avatar1.png" alt="">
                    </div>
                    <button class="btn btn--borderless style-buttons--small"><span>Metamask</span></button>
                </a>
                <a href="/" class="wallets__block">
                    <div class="wallets__img">
                        <img src="img/avatar1.png" alt="">
                    </div>
                    <button class="btn btn--borderless style-buttons--small"><span>Metamask</span></button>
                </a>
                <a href="/" class="wallets__block">
                    <div class="wallets__img">
                        <img src="img/avatar1.png" alt="">
                    </div>
                    <button class="btn btn--borderless style-buttons--small"><span>Metamask</span></button>
                </a>
            </div>
        </div>
    </div>
</section>